include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include cython *
recursive-include fortran *
recursive-include tests *
recursive-include scripts *
recursive-exclude cython sharp.c
recursive-exclude fortran interpol_*.f90
recursive-exclude * temporary_map.fits
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
