include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include optional-requirements.txt
include requirements_dev.txt

recursive-include cython *
recursive-include fortran *
recursive-include pixell/tests *
recursive-include pixell/tests/data *
recursive-include scripts *
recursive-include * *.ttf
recursive-exclude cython sharp.c
recursive-exclude fortran interpol_*.f90
recursive-exclude * temporary_map.fits
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
include versioneer.py
include pixell/_version.py
