pip>=9.0
bumpversion>=0.5.
wheel>=0.30
watchdog>=0.8
flake8>=3.5
coverage>=4.5
Sphinx>=1.7
twine>=1.10
numpy>=1.13
astropy>=2.0
setuptools>=39.2
h5py>=2.7
scipy>=1.0
python_dateutil>=2.7
cython>=0.28
matplotlib>=2.0
pyyaml>=3.0
healpy>=1.11
